* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

p {
    line-height: 1.6 !important;
}




/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
}

body {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400, 700;
}

header {
    background-image: url(TOP\ BACKGRD.svg);
    height: 600px;
    background-color: lightblue;
}

.tophalf {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomhalf {
    display: flex;
    justify-content: space-between;
}

.tophalf .top1 {
    margin: 50px;
}


.tophalf .top2 {
    border: 0;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: white;
    font-weight: 700;
    font-size: 1rem;
    margin: 50px;
    box-shadow: 2px 3px 5px 3px lightblue;
}




.toplogo {
    width: 80%;
}

.bottomhalf .top3 {
    max-width: 40%;
}

.top3 {
    margin: 80px 10px 0 50px;
}

.top3-content {
    line-height: 1.6;
}


.bottomhalf h1 {
    font-family: 'poppins' sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 50px;
}

.top4 {
    margin: 0 50px 0 20px;
}

.top4 img{
    width: 600px; 
    height: 400px;
}

button {
    margin: 25px 0 0 0;
    padding: 18px 70px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: 0;
}

.details-image img{
    width: 400px;
}

.no1 {
    display: flex;
    width: 90%;
    height: 400px;
    margin: 100px 70px;
    box-shadow: 1px 1px 5px 1px grey;
    padding: 32px 50px 50px 50px;
    border-radius: 18px;
}

.no1 .leftbox {
    margin: auto;
    padding: 0 90px 0 50px;
}

.leftbox h2 {
    margin-bottom: 15px;
}

.leftbox p {
    line-height: 25px;
    color: gray;
    width: 80%;
}

.no2 {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 400px;
    margin: 100px 70px;
    box-shadow: 1px 1px 5px 1px grey;
    padding: 32px 0px 50px 80px;
    border-radius: 18px;
}

.no2 .leftbox2 {
    margin: auto;
    padding: 0 0px 0 150px;
}

.leftbox2 h2 {
    margin-bottom: 15px;
}

.leftbox2 p {
    line-height: 25px;
    color: gray;
    width: 80%;
}

.no3 {
    display: flex;
    width: 90%;
    height: 400px;
    margin: 100px 70px 100px 70px;
    box-shadow: 1px 1px 5px 1px grey;
    padding: 32px 20px 50px 80px;
    border-radius: 18px;
}

.no3 .leftbox3 {
    margin: auto;
    padding: 0 90px 0 20px;
}

.leftbox3 h2 {
    margin-bottom: 15px;
}

.leftbox3 p {
    line-height: 25px;
    color: gray;
    width: 80%;
}

.sub:nth-child(4) {
    transform: translate(50px 70px);
    width: 90%;
    height: 400px;
    padding: 32px 20px 50px 80px;
    border: 2px solid red;
}

.minor:nth-child(1) {
    transform: translate(0px, 100px);
    height: 250px;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 1px 1px 5px 1px grey;
    border-radius: 18px;
    padding-top: 60px;
}

.case {
    font-weight: bold;
    font-size: 30px;
}

.brief {
    margin: 25px 0 0 0;
    padding: 22px 90px;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    color: white;
    font-weight: bold;
    border: 0;
    font-size: 17px;
}

.minor {
    text-align: center;
    line-height: 45px;
}

footer {
    background-color: hsl(192, 100%, 9%);
    height: 500px;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 15px;
}

.box1 {
    width: 290px;
    margin-top: 100px;
    height: 200px;
}

.box2 {
    width: 290px;
    margin-top: 130px;
}

.box3 {
    width: 290px;
    margin-top: 130px;
}

.box4 {
    width: 290px;
    margin-top: 130px;
}



.move1 {
    margin-top: 70px;
    margin-left: 40px;
}

.move1 a {
    text-decoration: none;
    color: #fff;
}

.move2 {
    margin-top: 35px;
    margin-left: 40px;
}

.move2 a {
    text-decoration: none;
    color: #fff;
}

.move3 {
    margin-top: 35px;
    margin-left: 40px;
}

.move3 a {
    text-decoration: none;
    color: #fff;
}


.slide1 {
    margin-top: 70px;
    margin-left: 40px;
}

.slide1 a {
    text-decoration: none;
    color: #fff;
}

.slide2 {
    margin-top: 35px;
    margin-left: 40px;
}

.slide2 a {
    text-decoration: none;
    color: #fff;
}

.slide3 {
    margin-top: 35px;
    margin-left: 40px;
}

.slide3 a {
    text-decoration: none;
    color: #fff;
}

.box4 a {
    color: #fff;
    text-decoration: none;
}

.fill1 {
    margin-top: 65px;
}

.fill2 {
    margin-top: 105px;
}



.footer-logo {
    filter: brightness(0) invert(1);
    display: block;
    margin-bottom: 1rem;
}

footer span {
    display: flex;
    margin: 1.3rem;
}

span p {
    display: inline;
    margin-left: 1rem;
}

span i {
    margin: auto 0;
}

@media(max-width:600px) {
    /* .tophalf {
        flex-direction: column;
    } */

    header{
        height: 100%;
    }


    .tophalf .top1 {
        margin: 2rem 1rem;
        flex: 1;
    }

    .subscribe-btn {
        flex: 1;
        margin: auto;
        text-align: center;
    }

    .tophalf .top2 {
        margin: unset;
        padding: 8px 15px;
    }


    .bottomhalf {
        flex-direction: column;
        margin-top: 2rem;
    }


    .bottomhalf .top3 {
        max-width: 100%;
        text-align: center;
    }

    .top3 {
        margin: auto 1rem;
    }

    .top3-content {
        font-size: 16px;
    }

    .top3 button{
        padding: 13px 70px;
    }


    .bottomhalf h1{
        font-size: 25px;
        line-height: 1.6;
    }


    .top4 {
        margin: 3rem 1rem;
    }


    .top4 img{
        width: 100%; 
        height: unset;
    }


    .details-card{
        flex-direction: column;
        margin: 3rem 1rem;
        max-width: 100%;
        width: unset;
        height: unset;
        text-align: center;
        padding: 1rem;
        box-shadow: 1px 1px 5px 1px #e7d7d7;
    }

   .no3{
        margin-bottom: unset;
    }


    .details-image {
       padding-top: 2rem; 
    }


    .details-image img{
        width: 100%;
        
    }

    .details-card p{
        width: 100%;
        font-size: 15px;
    }

    .details-card h2{
        font-size: 20px;
    }

    .leftbox,.leftbox2,.leftbox3{
        padding: 2.5rem 0 1.5rem!important;
        order: 1;
    }


    .minor:nth-child(1){
        width: 90%;
        padding-top: 20px;
        height: 150px;
        margin: 1.5rem auto;

    }


    .case {
        font-size: 1rem;
    }

    .brief {
        margin: 15px 0 0 0;
        padding: 0.5rem 40px;
        font-weight: 400;
        font-size: 14px;
    }
    

    footer{
        height: unset;
    }

    .footer-logo{
        width: 60%;
        margin-top: 1rem;
    }

    footer span {
        margin: 1.3rem 0;
    }

    .move2, .move3, .slide1, .slide2, .slide3{
        margin-left: 0;
        margin-top: 20px;
    }

    .move1{
        margin-left: 0;
        margin-top: 30px;
    }

    .box3, .box4{
        margin-top: 0;
    }

    .box4{
        margin: auto;
    }

    .fill1 {
        margin-top: 55px;
        text-align: center;
    }

    .box4 a {

        padding-left: 0.5rem;
        font-size: 1.8rem;
    }

    .fill2 {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
    }

    .container {
        flex-direction: column;
    }

    


}